@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

main {
  display: flex;
  flex-direction: column;
  width: 100%; 
  align-items: center;
  max-width: 1240px; 
  min-height: 60vh;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#root {
  display: flex;
  justify-content: center;
}