.home {
    width: 100%;
    height: 100%;

    .locations {
        border-radius: 25px;
        background: #F6F6F6;
        display: flex;
        flex-wrap: wrap;
        padding-top: 31px;
        padding-bottom: 18px;
        width: 100%;
        height: 100%;
        justify-content: center;
    
        .location-link {
            width: 340px;
            height: 340px;
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            color: #FF6060;
            margin: 25px 30px;
    
            img {
                width: 340px;
                height: 340px;
                object-fit: cover;
            }
    
            h3 {
                position: absolute;
                bottom: 0;
                left: 0;
                box-sizing: border-box;
                color: #FFF;
                font-size: 18px;
                font-weight: 700;
                max-width: 300px;
                width: 100%;
            }
    
        }
    }
}

.Bandeau {
    margin-top: 50px;
    margin-bottom: 43px;
    text-align: center;
    position: relative;
    width: 100%;
    height: 223px;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    .overlay {
        background-color: #000;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 223px;
        opacity: 0.6;
    }


    img {
        min-width: 1240px;
        width: 100%;
        position: absolute;
        z-index: 1;
    }

    p {
        position: absolute;
        z-index: 3;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 48px;
        font-weight: 700;
    }
}

@media (max-width: 480px) {
    .Bandeau {
       
        p{
           margin-left: 10px;
           font-size: 24px;
        }
    }
}